

  <% if user_signed_in? %>
  
<div ng-controller="MyCtrl" ng-app="myApp">
  <div class="row-fluid">
    <div class="span6" align="center">
      <h2 style="text-align:center">Select an ALiCCS-study number</h2>
      <input align="center" placeholder="Search..." ng-model="gridOptions.filterOptions.filterText" style="width:200px;"/>
      <div class="gridStyle" ng-grid="gridOptions"></div>
      Total: {{myDataNotDone.length}}
    </div>
    <div class="span6" align="center">
      <h2 style="text-align:center">Done</h2>
      <input align="center" placeholder="Search..." ng-model="gridOptionsDone.filterOptions.filterText" style="width:200px;"/>
      <div class="gridStyle" ng-grid="gridOptionsDone"></div>
      Total: {{myDataDone.length}}
      <% if current_user.admin %>
  <p>
  Download CSV:
  <%= link_to "Patients", patients_path(format: "csv") %> | <%= link_to "Treatments", journals_path(format: "csv") %> | <%= link_to "Surgeries", surgeries_path(format: "csv") %> | <%= link_to "BoneMarrowTransplantations", bone_marrow_transplantations_path(format: "csv") %> | <%= link_to "ChemoTherapies", chemo_therapies_path(format: "csv") %> | <%= link_to "CytostaticDrugGivens", cytostatic_drug_givens_path(format: "csv") %> | <%= link_to "CytostaticDrugGivenBoneMarrows", cytostatic_drug_given_bone_marrows_path(format: "csv") %>
  </p>
<% end %> 
    </div>
  </div>
  <div class="row-fluid">
    <br>
    <br>
    <div class="progress span10 offset1">
      <div class="bar" style="width:<%= @progress %>%">
      </div>

    </div>
  </div>
</div>

  <% else %>
  
  <%= image_tag "ALiCCS.JPG" %>
  

<!--<div class="center hero-unit">
  <h1>Welcome to the ALiCCS App</h1>

  <h2>
    This is the home page of the ALiCCS journal database.
  </h2>
</div>-->
<h1 style="margin-top:30px">Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <!--
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    -->
    <%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in', class: "btn btn-primary" %>
  <%= link_to "Forgot your password?", new_password_path('user') %>
<% end %>
    <p>New user? Please contact Thorgerdur (thorgud@cancer.dk)</p>
  </div>
</div>
  <% end %>
