<h1>Listing relapses</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relapses.each do |relapse| %>
  <tr>
    <td><%= relapse.number %></td>
    <td><%= relapse.date %></td>
    <td><%= link_to 'Show', relapse %></td>
    <td><%= link_to 'Edit', edit_relapse_path(relapse) %></td>
    <td><%= link_to 'Destroy', relapse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Relapse', new_relapse_path %>
