<div ng-controller="PatientCtrl" ng-app="patientApp">
  <%= form_for(@patient) do |j| %>
  <div class="row-fluid">
    <div class="span3">     
        <p>Country:</p>
    </div>
    <div class="span2">
      <%- if @patient.country %>
      <%= Country.find(@patient.country).countryname %>
      <%- else %>
      <%= "Undefined" %>
      <%- end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">     
        <p><b>Patient ALiCCS-study no.:</b></p>
    </div>
    <div class="span2">
        <%= @patient.studynumber %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">     
        <p>Gender:</p>
    </div>
    <div class="span2">
        <%= j.select :gender_id, options_from_collection_for_select(Gender.all, :id, :gender_combo, @patient.gender_id), {}, {"ng-model" => "patient.gender"} %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
      <p>Comments:</p>
    </div>
    <div class="span9">
      <%= j.text_area :comments, :cols => "30", :rows => "7" %> 
    </div>     
  </div>
  <br>
        <p>Any missing information concerning different aspects of the childhood cancer treatment?</p>
  <div class="row-fluid">
    <div class="span3"> 
      <p>Chemotherapy?</p>
    </div>
    <div class="span5"> 
        <%= j.select :missinginfochemo, options_from_collection_for_select(MissingInfo.all, :id, :missingInfo_combo, @patient.missinginfochemo), {}, {"ng-model" => "patient.missinginfochemo"} %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Radiotherapy?</p>
    </div>
    <div class="span5"> 
        <%= j.select :missinginforadio, options_from_collection_for_select(MissingInfo.all, :id, :missingInfo_combo, @patient.missinginforadio), {}, {"ng-model" => "patient.missinginforadio"} %>     
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Surgery?</p>
    </div>
    <div class="span5"> 
        <%= j.select :missinginfosurgery, options_from_collection_for_select(MissingInfo.all, :id,:missingInfo_combo, @patient.missinginfosurgery), {}, {"ng-model" => "patient.missinginfosurgery"} %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
        <p>Radiotherapy records copied**:</p>
    </div>
    <div class="span6">
      <%= j.number_field :radiorecordscopied_day, {placeholder: "day", :class => "date_generic"} %>
      <%= j.number_field :radiorecordscopied_month, {placeholder: "month", :class => "date_generic"} %>
      <%= j.number_field :radiorecordscopied_year, {placeholder: "year", :class => "date_generic"} %>
    </div>
    <div class="span7 offset3">
        <p class="infoSmall">**copied WITHOUT any personal identifications. Leave empty if not relevant.</p>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
      <p>Data extraction accomplished by:</p>
    </div>
    <div class="span8">
      <%= @patient.user.name + " at " + Institute.find(@patient.user.institute_id).name %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
        <p>Date of extraction:</p>
    </div>
    <div class="span6">
        <%= j.date_select :dateofextraction, {:start_year => 2013, :end_year => Time.now.year, :default => @patient.dateofextraction, order: [:day, :month, :year]}, {:class => "date_generic"} %>
    </div>
  </div>
  <br>
  <br>
  <h2>Before the childhood cancer diagnosis</h2>
  <div class="row-fluid">
    <div class="span3">
        <p>Chronic diseases of importance before cancer diagnosis*:</p>
    </div>
    <div class="span5">
        <%= j.select :chronicdisease, options_from_collection_for_select(ChronicDisease.all, :id,:chronicdisease_combo, @patient.chronicdisease), {},  {"ng-model" => "patient.chronicdisease"} %>
    </div>
    <div class="span4">
      <p class="infoSmall">*See instructions for examples</p>
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.chronicdisease == '2' || patient.chronicdisease == '3' || patient.chronicdisease == '4' || patient.chronicdisease == '5'">
    <div class="span3">
        <p>If yes, please specify*:
    </div>
    <div class="span9">
        <%= j.text_area :chronicdiseasespec, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Chromosomal disorder:</p>
    </div>
    <div class="span5">
        <%= j.select :chromosomaldisorder, options_from_collection_for_select(ChromosomalDisorder.all, :id,:chromosomaldisorder_combo, @patient.chromosomaldisorder), {}, {"ng-model" => "patient.chromosomaldisorder"}%> 
    </div>
    <div class="span4">
      <p class="infoSmall">*See instructions (and appendix III) for examples</p>
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.chromosomaldisorder=='3'">
    <div class="span3">
        <p>If yes, other than Down's syndrome, please specify*:
    </div>
    <div class="span9">
        <%= j.text_area :chromosomaldisorderspec, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Immune deficiency</p>
    </div>
    <div class="span2">
        <%= j.select :immunedeficiency, options_from_collection_for_select(NoYes.all, :id,:noyes_combo, @patient.immunedeficiency), {}, {"ng-model" => "patient.immunedeficiency"} %> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Congenital anomaly</p>
    </div>
    <div class="span2">
        <%= j.select :congenitalanomaly, options_from_collection_for_select(NoYes.all, :id,:noyes_combo, @patient.congenitalanomaly), {}, {"ng-model" => "patient.congenitalanomaly"} %> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Neurofibromatosis</p>
    </div>
    <div class="span2">
        <%= j.select :neurofibromatosis, options_from_collection_for_select(NoYes.all, :id,:noyes_combo, @patient.neurofibromatosis), {}, {"ng-model" => "patient.neurofibromatosis"} %> 
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Other familial cancer syndromes</p>
    </div>
    <div class="span2">
        <%= j.select :otherfamilialcancersynd, options_from_collection_for_select(NoYes.all, :id,:noyes_combo, @patient.otherfamilialcancersynd), {}, {"ng-model" => "patient.otherfamilialcancersynd"}%> 
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.otherfamilialcancersynd=='2'">
    <div class="span3">
        <p>If yes, please specify*:
    </div>
    <div class="span9">
        <%= j.text_area :otherfamilialcancersyndspec, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.otherfamilialcancersynd=='2'">
    <div class="span4 offset3">
      <p class="infoSmall">*See instructions for examples</p>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
        <p>Cancer in the family, in a first-degree relative**</p>
    </div>
    <div class="span2">
        <%= j.select :cancerinfamily, options_from_collection_for_select(NoYesUnknown.all, :id,:noyesunknown_combo, @patient.cancerinfamily), {}, {"ng-model" => "patient.cancerinfamily"}%> 
    </div>
    <div class="span7">
      <p class="infoSmall">**First-degree relative = parents, siblings or possible offspring of the childhood cancer patient.</p>
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.cancerinfamily=='2'">
    <div class="span3">
        <p>If yes, please specify both relation, and type of cancer:
    </div>
    <div class="span9">
        <%= j.text_area :cancerinfamilyspec, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Previous surgical procedures</p>
    </div>
    <div class="span2">
        <%= j.select :prevsurgicalprocedures, options_from_collection_for_select(NoYes.all, :id,:noyes_combo, @patient.prevsurgicalprocedures), {}, {"ng-model" => "patient.prevsurgicalprocedures"}%> 
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.prevsurgicalprocedures=='2'">
    <div class="span3">
        <p>If yes, please specify*:
    </div>
    <div class="span9">
        <%= j.text_area :prevsurgicalproceduresspec, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.prevsurgicalprocedures=='2'">
    <div class="span4 offset3">
      <p class="infoSmall">*See instructions for examples</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Previous radiation therapy</p>
    </div>
    <div class="span2">
        <%= j.select :prevradtherapy, options_from_collection_for_select(NoYes.all, :id,:noyes_combo, @patient.prevradtherapy), {}, {"ng-model" => "patient.prevradtherapy"}%> 
    </div>
  </div>
  <div class="row-fluid" ng-show="patient.prevradtherapy=='2'">
    <div class="span3">
        <p>If yes, specify (for what, when, where and dose):
    </div>
    <div class="span9">
        <%= j.text_area :prevradtherapyspec, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <h1 style="text-align:left;">First Primary Cancer</h1>
  <div class="row-fluid">
    <div class="span3">     
        <p><b>Diagnosis:</b></p><p class=infoSmall>(Please write the diagnosis as it is written in the medical record)</p>
    </div>
    <div class="span9">
        <%= j.text_area :firstprimcancerdiagnosis, :cols => "30", :rows => "7" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
        <p>Date of diagnosis*:</p>
    </div>
    <div class="span6">
      <%= j.number_field :dateofdiagnosis_day, {placeholder: "day", :class => "date_generic"}%>
      <%= j.number_field :dateofdiagnosis_month, {placeholder: "month", :class => "date_generic"} %>
      <%= j.number_field :dateofdiagnosis_year, {placeholder: "year", :class => "date_generic"} %>
    </div>
    <div class="span7 offset3">
        <p class="infoSmall">*Please see definition of the date of diagnosis in the instructions.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
        <p>Please fill out the corresponding number for the first primary cancer type:</p>
    </div>
    <div class="span6">
      <br>
        <%= j.select :firstprimcancertype, options_from_collection_for_select(FirstPrimCancerType.all, :id,:firstprimcancertype_combo, @patient.firstprimcancertype), {}, {"ng-model" => "patient.firstprimcancertype"}%> 
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype==1">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>1. Leukemia</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Subtype:</p>
      </div>
      <div class="span5">
          <%= j.select :leukemiasubtype, options_from_collection_for_select(LeukemiaSubType.all, :id,:leukemiasubtype_combo, @patient.leukemiasubtype), {}, {"ng-model" => "patient.leukemiasubtype"} %> 
      </div>
      <div class="span4">
        <p class=infoSmall> ALL = Acute Lymphoblastic Leukemia<br>
                            AML = Acute Myeloid Leukemia<br>
                            MDS = Myelodysplastic disorder<br>
                            CML = Chronic Myelocytic Leukemia<br>
                            JMML = Juvenile Myelomonocytic Leukemia</p>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype==2">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>2. Hodgkin Lymphoma (HL, Hodgkin disease, HD)</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Subtype:</p>
      </div>
      <div class="span5">
          <%= j.select :hodgkinlymphomasubtype, options_from_collection_for_select(HodgkinLymphomaSubType.all, :id,:hodgkinlymphomasubtype_combo, @patient.hodgkinlymphomasubtype), {}, {"ng-model" => "patient.hodgkinlymphomasubtype"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span9 offset3"
        <p class=infoSmall>*Other e.g. primary mediastinal lymphoma, follicular lymphoma, nodular marginal zone lymphoma, peripheral T-cell.</p>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='3'">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>3. Non-Hodgkin Lymphoma (NHL)</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Subtype:</p>
      </div>
      <div class="span8">
          <%= j.select :nonhodgkinlymphomasubtype, options_from_collection_for_select(NonHodgkinLymphomaSubType.all, :id,:nonhodgkinlymphomasubtype_combo, @patient.nonhodgkinlymphomasubtype), {}, {"ng-model" => "patient.nonhodgkinlymphomasubtype"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span9 offset3"
        <p class=infoSmall>*Other e.g. primary mediastinal lymphoma, follicular lymphoma, nodular marginal zone lymphoma, peripheral T-cell.</p>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='4'">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>4. CNS tumor</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Histological type:</p>
      </div>
      <div class="span7">
          <%= j.select :cnstumorhistologicaltype, options_from_collection_for_select(CnsTumorHistologicalType.all, :id,:cnstumorhistologicaltype_combo, @patient.cnstumorhistologicaltype), {}, {"ng-model" => "patient.cnstumorhistologicaltype"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Primary tumor site:</p>
      </div>
      <div class="span6">
          <%= j.select :cnstumorprimarytumorsite, options_from_collection_for_select(CnsTumorPrimaryTumorSite.all, :id,:cnstumorprimarytumorsite_combo, @patient.cnstumorprimarytumorsite), {}, {"ng-model" => "patient.cnstumorprimarytumorsite"} %> 
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.cnstumorprimarytumorsite=='20'">
      <div class="span3 offset3">
          <p>Please specify*:</p>
          <p class=infoBoxRed><i>Please note that <b>Germinomas</b> in the CNS are <b>listed in group 12</b> (Germ cell and other gonadal tumors)</i></p>
      </div>
      <div class="span6">
          <%= j.text_area :cnstumorprimarytumorsiteotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
      <div class="row-fluid">
      <div class="span3">
          <p>Laterality:</p>
      </div>
      <div class="span4">
          <%= j.select :cnstumorlaterality, options_from_collection_for_select(LateralityRlbmn.all, :id,:lateralityrlbmn_combo, @patient.cnstumorlaterality), {}, {"ng-model" => "patient.cnstumorlaterality"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span9 offset3">
        <p class=infoBox><i><u>Do not confuse:</u> PNET = <b>Primitive</b> neuroectodermal tumor with PNET = <b>Peripheral</b> neuroectodermal tumor which is a Ewing sarcoma or belongs to Ewing family of tumors.</i></p>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='5'">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>5. Neuroblastoma (Sympathetic nervous system tumor)</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Primary tumor site:</p>
      </div>
      <div class="span4">
          <%= j.select :neuroblastomaprimarytumorsite, options_from_collection_for_select(NeuroblastomaPrimaryTumorSite.all, :id,:neuroblastomaprimarytumorsite_combo, @patient.neuroblastomaprimarytumorsite), {}, {"ng-model" => "patient.neuroblastomaprimarytumorsite"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Laterality:</p>
      </div>
      <div class="span4">
          <%= j.select :neuroblastomalaterality, options_from_collection_for_select(LateralityRlbn.all, :id,:lateralityrlbn_combo, @patient.neuroblastomalaterality), {}, {"ng-model" => "patient.neuroblastomalaterality"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Metastasis at diagnosis:</p>
      </div>
      <div class="span4">
          <%= j.select :neuroblastomametastasisatdiagnosis, options_from_collection_for_select(NoYesUnknownNotInv.all, :id,:noyesunknownnotinv_combo, @patient.neuroblastomametastasisatdiagnosis), {}, {"ng-model" => "patient.neuroblastomametastasisatdiagnosis"} %> 
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='6'">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>6. Renal tumor</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Tumor type:</p>
      </div>
      <div class="span4">
          <%= j.select :renaltumortype, options_from_collection_for_select(RenalTumorType.all, :id,:renaltumortype_combo, @patient.renaltumortype), {}, {"ng-model" => "patient.renaltumortype"} %> 
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.renaltumortype=='4'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :renaltumortypeotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Laterality:</p>
      </div>
      <div class="span4">
          <%= j.select :renaltumorlaterality, options_from_collection_for_select(LateralityRlbu.all, :id,:lateralityrlbu_combo, @patient.renaltumorlaterality), {}, {"ng-model" => "patient.renaltumorlaterality"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Metastasis at diagnosis:</p>
      </div>
      <div class="span4">
          <%= j.select :renaltumormetastasisatdiagnosis, options_from_collection_for_select(NoYesUnknownNotInv.all, :id,:noyesunknownnotinv_combo, @patient.renaltumormetastasisatdiagnosis), {}, {"ng-model" => "patient.renaltumormetastasisatdiagnosis"} %> 
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='7'">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>7. Malignant bone tumor</h2><br>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Tumor type:</p>
      </div>
      <div class="span3">
          <%= j.select :malignantbonetumortype, options_from_collection_for_select(MalignantBoneTumorType.all, :id,:malignantbonetumortype_combo, @patient.malignantbonetumortype), {}, {"ng-model" => "patient.malignantbonetumortype"} %> 
      </div>
      <div class="span6">
          <p class=infoBox>*PNET = <b>Peripheral</b> neuroectodermal tumor, belong to Ewing sarcoma family of tumors, including Askin tumor and Ewing sarcoma soft-tissue.</p>
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.malignantbonetumortype =='3'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :malignantbonetumortypeotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span3">
          <p>Laterality:</p>
      </div>
      <div class="span4">
          <%= j.select :malignantbonetumorlaterality, options_from_collection_for_select(LateralityRlbmu.all, :id,:lateralityrlbmu_combo, @patient.malignantbonetumorlaterality), {}, {"ng-model" => "patient.malignantbonetumorlaterality"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Metastasis at diagnosis:</p>
      </div>
      <div class="span4">
          <%= j.select :malignantbonetumormetastasisatdiagnosis, options_from_collection_for_select(NoYesUnknownNotInv.all, :id,:noyesunknownnotinv_combo, @patient.malignantbonetumormetastasisatdiagnosis), {}, {"ng-model" => "patient.malignantbonetumormetastasisatdiagnosis"} %> 
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
          <p>Primary tumor site:</p>
      </div>
      <div class="span8">
          <%= j.select :malignantbonetumorprimarytumorsite, options_from_collection_for_select(MalignantBoneTumorPrimaryTumorSite.all, :id,:malignantbonetumorprimarytumorsite_combo, @patient.malignantbonetumorprimarytumorsite), {}, {"ng-model" => "patient.malignantbonetumorprimarytumorsite"} %> 
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.malignantbonetumorprimarytumorsite =='11'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :malignantbonetumorprimarytumorsiteotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='8'">
    <div class="row-fluid">
      <div class="span9">
        <h2 style=margin-bottom:0px;margin-top:20px;>8. Soft tissue sarcomas*</h2><br>
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.firstprimcancertype=='8'">
      <div class="span6">
        <p class=infoBox>*Soft-tissue sarcomas <b>not</b> including Ewing sarcoma</p>
      </div>
    </div>
    <br>
    <div class="row-fluid" ng-show="patient.firstprimcancertype=='8'">
      <div class="span3">
        <p>Tumor type:</p>
      </div>
      <div class="span5">
        <%= j.select :softtissuesarcomastumortype, options_from_collection_for_select(SoftTissueSarcomasTumorType.all, :id,:softtissuesarcomastumortype_combo, @patient.softtissuesarcomastumortype), {}, {"ng-model" => "patient.softtissuesarcomastumortype"} %>
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.softtissuesarcomastumortype=='6'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :malignantbonetumorprimarytumorsiteotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Laterality:</p>
      </div>
      <div class="span4">
        <%= j.select :softtissuesarcomaslaterality, options_from_collection_for_select(LateralityRlbu.all, :id,:lateralityrlbu_combo, @patient.softtissuesarcomaslaterality), {}, {"ng-model" => "patient.softtissuesarcomaslaterality"} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Primary tumor site:</p>
      </div>
      <div class="span4">
        <%= j.select :softtissuesarcomasprimarytumorsite, options_from_collection_for_select(SoftTissueSarcomasPrimaryTumorSite.all, :id,:softtissuesarcomasprimarytumorsite_combo, @patient.softtissuesarcomasprimarytumorsite), {}, {"ng-model" => "patient.softtissuesarcomasprimarytumorsite"} %>
      </div>
    </div>
  </div>
  <div ng-show="patient.softtissuesarcomasprimarytumorsite=='9'">
      <div class="row-fluid">
        <div class="span3 offset3">
            <p>Please specify:</p>
        </div>
        <div class="span6">
            <%= j.text_area :softtissuesarcomasprimarytumorsiteotherspec, :cols => "30", :rows => "7" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <p>Metastasis at diagnosis:</p>
        </div>
        <div class="span4">
          <%= j.select :softtissuesarcomasmetastasisatdiagnosis, options_from_collection_for_select(NoYesUnknownNotInv.all, :id,:noyesunknownnotinv_combo, @patient.softtissuesarcomasmetastasisatdiagnosis), {}, {"ng-model" => "patient.softtissuesarcomasmetastasisatdiagnosis"} %>
        </div>
      </div>
    </div>
    <div ng-show="patient.firstprimcancertype=='9'">
      <div class="row-fluid">
        <div class="span4">
          <h2>9. Retinoblastoma</h2>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">  
          <p>Laterality:</p>
        </div>
        <div class="span5">
          <%= j.select :retinoblastomalaterality, options_from_collection_for_select(LateralityRlbu.all, :id,:lateralityrlbu_combo, @patient.retinoblastomalaterality), {}, {"ng-model" => "patient.retinoblastomalaterality"} %>
        </div>
      </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='10'">
    <div class="row-fluid">
      <div class="span4">
        <h2>10. Hepatic tumor</h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Tumor type:</p>
      </div>
      <div class="span5">  
        <%= j.select :hepatictumortype, options_from_collection_for_select(HepaticTumorType.all, :id,:hepatictumortype_combo, @patient.hepatictumortype), {}, {"ng-model" => "patient.hepatictumortype"} %>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='11'">
    <div class="row-fluid">
      <h2>11. Carcinomas</h2>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Tumor type:</p>
      </div>
      <div class="span5">
        <%= j.select :carcinomastumortype, options_from_collection_for_select(CarcinomasTumorType.all, :id,:carcinomastumortype_combo, @patient.carcinomastumortype), {}, {"ng-model" => "patient.carcinomastumortype"} %>
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.carcinomastumortype=='6'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :carcinomastumortypeotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>  
    <div class="row-fluid">
      <div class="span3">
        <p>Laterality:</p>
      </div>
      <div class="span5">
        <%= j.select :carcinomaslaterality, options_from_collection_for_select(LateralityRlbn.all, :id,:lateralityrlbn_combo, @patient.carcinomaslaterality), {}, {"ng-model" => "patient.carcinomaslaterality"} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Metastasis at diagnosis:</p>
      </div>
      <div class="span5">
        <%= j.select :carcinomasmetastasisatdiagnosis, options_from_collection_for_select(NoYesUnknownNotInv.all, :id,:noyesunknownnotinv_combo, @patient.carcinomasmetastasisatdiagnosis), {}, {"ng-model" => "patient.carcinomasmetastasisatdiagnosis"} %>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='12'">
    <div class="row-fluid">
      <h2>12. Germ cell and gonadal tumors</h2>
      <p>GCT = Germ cell tumor</p>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Tumor type:</p>
      </div>
      <div class="span5">
        <%= j.select :germcelltumorsandgonadalstumorstype, options_from_collection_for_select(GermCellTumorsAndGonadalsTumorType.all, :id,:germcelltumorsandgonadalstumorstype_combo, @patient.germcelltumorsandgonadalstumorstype), {}, {"ng-model" => "patient.germcelltumorsandgonadalstumorstype"} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Laterality</p>
      </div>
      <div class="span5">
        <%= j.select :germcelltumorsandgonadaltumorslaterality, options_from_collection_for_select(LateralityRlbmn.all, :id,:lateralityrlbmn_combo, @patient.germcelltumorsandgonadaltumorslaterality), {}, {"ng-model" => "patient.germcelltumorsandgonadaltumorslaterality"} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Metastasis at diagnosis</p>
      </div>
      <div class="span5">
        <%= j.select :germcellandgonadalstumorsmetastasisatdiagnosis, options_from_collection_for_select(NoYesUnknownNotInv.all, :id,:noyesunknownnotinv_combo, @patient.germcellandgonadalstumorsmetastasisatdiagnosis), {}, {"ng-model" => "patient.germcellandgonadalstumorsmetastasisatdiagnosis"} %>
      </div>
    </div>
  </div>
  <div ng-show="patient.firstprimcancertype=='13'">
    <div class="row-fluid">
      <h2>13. Other</h2>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Tumor type:</p>
      </div>  
      <div class="span5">
        <%= j.select :othertumortype, options_from_collection_for_select(OtherTumorType.all, :id,:othertumortype_combo, @patient.othertumortype), {}, {"ng-model" => "patient.othertumortype"} %>
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.othertumortype=='2'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :othertumortypeotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Primary tumor site:</p>
      </div>
      <div class="span5">
        <%= j.select :otherprimarytumorsite, options_from_collection_for_select(OtherPrimaryTumorSite.all, :id,:otherprimarytumorsite_combo, @patient.otherprimarytumorsite), {}, {"ng-model" => "patient.otherprimarytumorsite"} %>        
      </div>
    </div>
    <div class="row-fluid" ng-show="patient.otherprimarytumorsite=='9'">
      <div class="span3 offset3">
          <p>Please specify:</p>
      </div>
      <div class="span6">
          <%= j.text_area :otherprimarytumorsiteotherspec, :cols => "30", :rows => "7" %>
      </div>
    </div>
  </div>
  <div align="right">
        <%= j.submit "Next", class: "btn btn-large btn-primary" %>
  </div>
      
      <% end %>
</div>