<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @patient.user %>
</p>

<p>
  <b>Datecreate:</b>
  <%= @patient.datecreate %>
</p>

<p>
  <b>Country:</b>
  <%= @patient.country %>
</p>

<p>
  <b>Gender:</b>
  <%= @patient.gender %>
</p>

<p>
  <b>Comments:</b>
  <%= @patient.comments %>
</p>

<p>
  <b>Missinginfochemo:</b>
  <%= @patient.missinginfochemo %>
</p>

<p>
  <b>Missinginforadio:</b>
  <%= @patient.missinginforadio %>
</p>

<p>
  <b>Missinginforadio:</b>
  <%= @patient.missinginforadio %>
</p>

<p>
  <b>Missinginfosurgery:</b>
  <%= @patient.missinginfosurgery %>
</p>

<p>
  <b>Radiorecordscopied:</b>
  <%= @patient.radiorecordscopied %>
</p>

<p>
  <b>Chronicdisease:</b>
  <%= @patient.chronicdisease %>
</p>

<p>
  <b>Chronicdiseasespec:</b>
  <%= @patient.chronicdiseasespec %>
</p>

<p>
  <b>Chromosomaldisorder:</b>
  <%= @patient.chromosomaldisorder %>
</p>

<p>
  <b>Chromosomaldisorderspec:</b>
  <%= @patient.chromosomaldisorderspec %>
</p>

<p>
  <b>Immunedeficiency:</b>
  <%= @patient.immunedeficiency %>
</p>

<p>
  <b>Congenitalanomaly:</b>
  <%= @patient.congenitalanomaly %>
</p>

<p>
  <b>Neurofibromatosis:</b>
  <%= @patient.neurofibromatosis %>
</p>

<p>
  <b>Otherfamilialcancersyndspec:</b>
  <%= @patient.otherfamilialcancersyndspec %>
</p>

<p>
  <b>Cancerinfamily:</b>
  <%= @patient.cancerinfamily %>
</p>

<p>
  <b>Cancerinfamilyspec:</b>
  <%= @patient.cancerinfamilyspec %>
</p>

<p>
  <b>Prevsurgicalprocedures:</b>
  <%= @patient.prevsurgicalprocedures %>
</p>

<p>
  <b>Prevsurgicalproceduresspec:</b>
  <%= @patient.prevsurgicalproceduresspec %>
</p>

<p>
  <b>Prevradtherapy:</b>
  <%= @patient.prevradtherapy %>
</p>

<p>
  <b>Prevradtherapy:</b>
  <%= @patient.prevradtherapy %>
</p>

<p>
  <b>Firstprimcancerdiagnosis:</b>
  <%= @patient.firstprimcancerdiagnosis %>
</p>

<p>
  <b>Dateofdiagnosis:</b>
  <%= @patient.dateofdiagnosis %>
</p>

<p>
  <b>Firstprimcancertype:</b>
  <%= @patient.firstprimcancertype %>
</p>

<p>
  <b>Leukemiasubtype:</b>
  <%= @patient.leukemiasubtype %>
</p>

<p>
  <b>Hodgkinlymphomasubtype:</b>
  <%= @patient.hodgkinlymphomasubtype %>
</p>

<p>
  <b>Nonhodgkinlymphomasubtype:</b>
  <%= @patient.nonhodgkinlymphomasubtype %>
</p>

<p>
  <b>Cnstumorhistologicaltype:</b>
  <%= @patient.cnstumorhistologicaltype %>
</p>

<p>
  <b>Cnstumorprimarytumorsite:</b>
  <%= @patient.cnstumorprimarytumorsite %>
</p>

<p>
  <b>Cnstumorprimarytumorsiteotherspec:</b>
  <%= @patient.cnstumorprimarytumorsiteotherspec %>
</p>

<p>
  <b>Cnstumorlaterality:</b>
  <%= @patient.cnstumorlaterality %>
</p>

<p>
  <b>Neuroblastomaprimarytumorsite:</b>
  <%= @patient.neuroblastomaprimarytumorsite %>
</p>

<p>
  <b>Neuroblastomalaterality:</b>
  <%= @patient.neuroblastomalaterality %>
</p>

<p>
  <b>Neuroblastomametastasisatdiagnosis:</b>
  <%= @patient.neuroblastomametastasisatdiagnosis %>
</p>

<p>
  <b>Renaltumortype:</b>
  <%= @patient.renaltumortype %>
</p>

<p>
  <b>Renaltumortypeotherspec:</b>
  <%= @patient.renaltumortypeotherspec %>
</p>

<p>
  <b>Renaltumorlaterality:</b>
  <%= @patient.renaltumorlaterality %>
</p>

<p>
  <b>Renaltumormetastasisatdiagnosis:</b>
  <%= @patient.renaltumormetastasisatdiagnosis %>
</p>

<p>
  <b>Malignantbonetumortype:</b>
  <%= @patient.malignantbonetumortype %>
</p>

<p>
  <b>Malignantbonetumorlaterality:</b>
  <%= @patient.malignantbonetumorlaterality %>
</p>

<p>
  <b>Malignantbonetumormetastasisatdiagnosis:</b>
  <%= @patient.malignantbonetumormetastasisatdiagnosis %>
</p>

<p>
  <b>Malignantbonetumorprimarytumorsite:</b>
  <%= @patient.malignantbonetumorprimarytumorsite %>
</p>

<p>
  <b>Malignantbonetumorprimarytumorsiteotherspec:</b>
  <%= @patient.malignantbonetumorprimarytumorsiteotherspec %>
</p>

<p>
  <b>Softtissuesarcomastumortype:</b>
  <%= @patient.softtissuesarcomastumortype %>
</p>

<p>
  <b>Softtissuesarcomastumortypeotherspec:</b>
  <%= @patient.softtissuesarcomastumortypeotherspec %>
</p>

<p>
  <b>Softtissuesarcomaslaterality:</b>
  <%= @patient.softtissuesarcomaslaterality %>
</p>

<p>
  <b>Softtissuesarcomasprimarytumorsite:</b>
  <%= @patient.softtissuesarcomasprimarytumorsite %>
</p>

<p>
  <b>Softtissuesarcomasprimarytumorsiteotherspec:</b>
  <%= @patient.softtissuesarcomasprimarytumorsiteotherspec %>
</p>

<p>
  <b>Softtissuesarcomasmetastasisatdiagnosis:</b>
  <%= @patient.softtissuesarcomasmetastasisatdiagnosis %>
</p>

<p>
  <b>Retinoblastomalaterality:</b>
  <%= @patient.retinoblastomalaterality %>
</p>

<p>
  <b>Hepatictumortype:</b>
  <%= @patient.hepatictumortype %>
</p>

<p>
  <b>Carcinomastumortype:</b>
  <%= @patient.carcinomastumortype %>
</p>

<p>
  <b>Carcinomastumortypeotherspec:</b>
  <%= @patient.carcinomastumortypeotherspec %>
</p>

<p>
  <b>Carcinomaslaterality:</b>
  <%= @patient.carcinomaslaterality %>
</p>

<p>
  <b>Carcinomasmetastasisatdiagnosis:</b>
  <%= @patient.carcinomasmetastasisatdiagnosis %>
</p>

<p>
  <b>Germcelltumorsandgonadalstumorstype:</b>
  <%= @patient.germcelltumorsandgonadalstumorstype %>
</p>

<p>
  <b>Germcelltumorsandgonadalstumorslaterality:</b>
  <%= @patient.germcelltumorsandgonadalstumorslaterality %>
</p>

<p>
  <b>Germcelltumorsandgonadalstumorsmetastasisatdiagnosis:</b>
  <%= @patient.germcelltumorsandgonadalstumorsmetastasisatdiagnosis %>
</p>

<p>
  <b>Othertumortype:</b>
  <%= @patient.othertumortype %>
</p>

<p>
  <b>Othertumortypeotherspec:</b>
  <%= @patient.othertumortypeotherspec %>
</p>

<p>
  <b>Otherprimarytumorsite:</b>
  <%= @patient.otherprimarytumorsite %>
</p>

<p>
  <b>Otherprimarytumorsiteotherspec:</b>
  <%= @patient.otherprimarytumorsiteotherspec %>
</p>

<p>
  <b>Remissionstatus:</b>
  <%= @patient.remissionstatus %>
</p>

<p>
  <b>Lastdoctorsvisit:</b>
  <%= @patient.lastdoctorsvisit %>
</p>

<p>
  <b>Lastdoctorsvisitstatus:</b>
  <%= @patient.lastdoctorsvisitstatus %>
</p>

<p>
  <b>Permanentcomplicationsspec:</b>
  <%= @patient.permanentcomplicationsspec %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
