<fieldset>
  <tr>  
    <td style="position:relative;left:20px;width:260px"><%= f.select :cytostaticdrugid, options_from_collection_for_select(CytostaticDrug.all, :id,:cytostatic_drug_combo), {:include_blank => true}, {"ui-select2" => :true, style: 'width: 260px', 'select2-container' => true} %> </td>
    <td align="center" style="position:relative;left:19px;width:230px"><%= f.number_field :totalcumulateddosemg, style: 'width:200px;' %></td>
    <td align="center" style="position:relative;left:18px"><%= f.select :dosequality, options_from_collection_for_select(DoseQuality.all, :id,:dose_quality_combo), {:include_blank => true}, {"ui-select2" => :true, style: 'width: 110px', 'select2-container' => true} %></td>
    <td align="center" style="position:relative;left:17px"><%= f.select :anthracyclinesbolusinf, options_from_collection_for_select(AnthracyclinesBolusInf.all, :id,:combo), {:include_blank => true}, {"ui-select2" => :true, style: 'width: 260px', 'select2-container' => true} %></td>
    <td style='position:relative;left:16px;width:100px'>
      <%= f.hidden_field :chemoorbonemarrow, value: 1 %>
      <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', {class: "remove_fields", style: "position:relative;bottom:8px"} %></td>
  </tr>    
</fieldset>
  

