  <fieldset>
    <br>
    <div class="row-fluid">
      <div class="span3">
        <p>Body surface (m<sup>2</sup>):</p>
      </div>
      <div class="span2">
        <%= f.number_field :bodysurface, {step: 0.01, min: 0} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Date at measurement:</p>
      </div>
      <div class="span6">
        <%= f.number_field :measurementdate_day, {placeholder: "day", :class => "date_generic"} %>
        <%= f.number_field :measurementdate_month, {placeholder: "month", :class => "date_generic"} %>
        <%= f.number_field :measurementdate_year, {placeholder: "year", :class => "date_generic"} %>
      </div>
      <div class="span3">
        <p class="infoSmall">99 = not known</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Weight (kg):</p>
      </div>
      <div class="span2">
        <%= f.number_field :weight, {step: 0.1, min: 0} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <p>Height (cm):</p>
      </div>
      <div class="span2">
        <%= f.number_field :height, {step: 0.1, min: 0} %>
      </div>
    </div>
    <div class="row-fluid">
    <div class="span3">
        <p>Was body surface estimated using a growth chart?</p>
    </div>
    <div class="span2">
        <%= f.collection_select(:estimated, NoYes.all, :seq, :noyes_combo, {include_blank: true}) %>
        <!--%= f.select :estimated, options_from_collection_for_select(NoYes.all, :seq,:noyes_combo), :include_blank => true %--> 
    </div>
  </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove chemotherapy year", '#', class: "remove_fields" %>
    <hr>
  </fieldset>