<p id="notice"><%= notice %></p>

<p>
  <b>Cytostaticdrugid:</b>
  <%= @cytostatic_drug_given_bone_marrow.cytostaticdrugid %>
</p>

<p>
  <b>Journal:</b>
  <%= @cytostatic_drug_given_bone_marrow.journal %>
</p>

<p>
  <b>Totalcumulateddosemg:</b>
  <%= @cytostatic_drug_given_bone_marrow.totalcumulateddosemg %>
</p>

<p>
  <b>Totalcumulateddoseunits:</b>
  <%= @cytostatic_drug_given_bone_marrow.totalcumulateddoseunits %>
</p>

<p>
  <b>Dosequality:</b>
  <%= @cytostatic_drug_given_bone_marrow.dosequality %>
</p>

<p>
  <b>Anthracyclinesbolusinfnoyes:</b>
  <%= @cytostatic_drug_given_bone_marrow.anthracyclinesbolusinfnoyes %>
</p>

<p>
  <b>Anthracyclinesbolusinf:</b>
  <%= @cytostatic_drug_given_bone_marrow.anthracyclinesbolusinf %>
</p>

<p>
  <b>Cardioprotectants:</b>
  <%= @cytostatic_drug_given_bone_marrow.cardioprotectants %>
</p>

<p>
  <b>Bone marrow transplantation:</b>
  <%= @cytostatic_drug_given_bone_marrow.bone_marrow_transplantation %>
</p>


<%= link_to 'Edit', edit_cytostatic_drug_given_bone_marrow_path(@cytostatic_drug_given_bone_marrow) %> |
<%= link_to 'Back', cytostatic_drug_given_bone_marrows_path %>
